@import "tailwindcss";

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-family: Satoshi Regular, sans-serif;
  font-size: 18px;
  scroll-snap-type: y mandatory;
}

@theme {
  --font-Satoshi: "Satoshi Regular", sans-serif;
  --font-Satoshi-Light: "Satoshi Light", sans-serif;
  --font-Satoshi-Medium: "Satoshi Medium", sans-serif;
  --font-Satoshi-Bold: "Satoshi Bold", sans-serif;
  --font-Satoshi-Black: "Satoshi Black", sans-serif;
}

@font-face {
  font-family: "Satoshi Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Regular"),
    url("./assets/font/Satoshi-Regular.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Light";
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Light"),
    url("./assets/font/Satoshi-Light.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Medium"),
    url("./assets/font/Satoshi-Medium.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Bold"),
    url("./assets/font/Satoshi-Bold.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Black";
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Black"),
    url("./assets/font/Satoshi-Black.woff") format("woff");
}
