@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

body {
  /* font-family: Poppins, sans-serif; */
  font-family: Satoshi Regular, sans-serif;
  font-size: 18px;
}

@theme {
  --font-Satoshi: "Satoshi Regular", sans-serif;
  --font-Satoshi-Light: "Satoshi Light", sans-serif;
  --font-Satoshi-Medium: "Satoshi Medium", sans-serif;
  --font-Satoshi-Bold: "Satoshi Bold", sans-serif;
  --font-Satoshi-Black: "Satoshi Black", sans-serif;
}

@font-face {
  font-family: "Satoshi Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Regular"),
    url("./assets/font/Satoshi-Regular.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Light";
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Light"),
    url("./assets/font/Satoshi-Light.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Medium"),
    url("./assets/font/Satoshi-Medium.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Bold"),
    url("./assets/font/Satoshi-Bold.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Black";
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Black"),
    url("./assets/font/Satoshi-Black.woff") format("woff");
}